.CurrentQuestion {
    padding: 20px;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 0 10px;
    box-sizing: border-box; 
}


.Question {
    display: flex;
    justify-content: space-between;
}