.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg,#1E9600, #FFF200, #FF0000)
}

.QuizCreator > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.QuizCreator h1 {
    text-align: center;
}

.QuizCreator form {
    background: rgb(113, 227, 0);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 0px 42px -2px rgba(0,0,0,0.75);
}


.questionWrapper {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgb(255, 89, 0);
    background: rgba(249, 193, 27, 0.913);
    padding: 0 10px;
    padding-bottom: 15px;
    border-radius: 14px;
    color: #000;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.818);

}

.questionWrapper label {
    text-align: center;
    line-height: 28px;
}



.BtnWrapper {
    display: flex;
    justify-content: center;
}

