/* Global */
button {
    outline: none;
    cursor: pointer;
}

.finishQuiz {
    /* min-width: 110px; */
    padding: 4px 14px;
    box-sizing: border-box;
    height: 40px;
    margin-right: 10px;
    background: #feda71;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#feda71), to(#febe4d));
    background: -moz-linear-gradient(#feda71, #febe4d);
    background: linear-gradient(#feda71, #febe4d);
    border: solid 1px #eab551;
    border-radius: 10px;
    border-bottom: solid 3px #b98a37;
    box-shadow: inset 0 0 0 1px #fee9aa;
    font-weight: 700;
    font-size: 15px;
    color: #000;
    text-shadow: 0 1px 0 #fedd9b; }
    
.finishQuiz:hover {
    background: #fec455;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fec455), to(#fecd61));
    background: -moz-linear-gradient(#fec455, #fecd61);
    background: linear-gradient(#fec455, #fecd61);
    border: solid 1px #e6a93d;
    border-bottom: solid 3px #b98a37;
    box-shadow: inset 0 0 0 1px #fedb98;

}
    
.finishQuiz:active {
    background: #f9bd4f;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9bd4f), to(#f0b64d));
    background: -moz-linear-gradient(#f9bd4f, #f0b64d);
    background: linear-gradient(#f9bd4f, #f0b64d);
    border: solid 1px #a77f35;
    box-shadow: inset 0 10px 15px 0 #dba646;
    border: solid 1px #eab551;
    border-bottom: solid 3px #b98a37;  /* change size */
}


/* Auth Page */

.AuthButton {
    font-size: 15px;
    color: #ecf0f1;
    padding: 15px;
    margin: 0 10px;
    background:#3cbfe7;
    font-weight: 700;
    border: 2px solid #003b3f;
    border-radius: 10px;
    transition: all 110ms linear;
}

.AuthButton:hover {
    transform: scale(1.10);
    /* color: #fff; */
}


.AuthButton:active {
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.28)
}


.AuthButton:disabled {
    background: #97e1f7;
    cursor: default;
    box-shadow: none;
    transform: none;
    transition: none;
}





/* Quiz Creator Page styles*/


.QuizCreatorButton {
    border: none;
    background-color: #0EBADC;
    border-bottom: 5px solid rgb(18, 133, 156);
    transition: all 0.1s;
    margin: 0 10px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 14px;
    text-shadow: 1px 1px rgb(0, 85, 81);
}


.QuizCreatorButton:active {
	transform: translate(0px,2px);
    transform: translate(0px,2px);
    border-bottom: 2px solid transparent;
    color: rgb(227, 212, 212);
    
}


.QuizCreatorButton:disabled {
    background-color: #0EBADC;
    cursor: default;
    color: rgba(127, 255, 212, 0.671); 
}


.ModalForQuizCreator {
    font-weight: 700;
    background-color: #0EBADC;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
}


.ModalForQuizCreator:disabled {
    background-color: rgb(11, 150, 177);
    color: rgb(199, 183, 183);
    cursor: default;
}